/* default */
#wayf {
  display: flex;
  flex-direction: column;
  height: 95vh;
  /* debug */
  /* background-color: DodgerBlue; */
}

hr.or {
  display: block;
  background-color: #dddddd;
  margin: 0;
  padding: 0; 
  height: 1px;
  /* border: 0;  */
  border: none;
  clear: both; 
    /* visibility: hidden; */
  
}


/* top section */
#wayf .top {
    /* box-shadow: 7px 0 7px -7px rgba(64,64,64,.075),-7px 0 7px -7px rgba(64,64,64,.6); */
  box-shadow: 0 9px 0px 0px rgba(255,255,255,1.0), 0 -9px 0px 0px rgba(255,255,255,1.0), 6px 0 15px -4px rgba(164, 164, 164, 0.8), -6px 0 15px -4px rgba(164, 164, 164, 0.8);
  padding: 10px;
}

#wayf div.top p.toptitle {
  font-size: 150%;
}

#wayf div.top hr.head {
  padding: 0;
  margin: 0; 
  border: 3px solid #06066d;
}


/* search section */
#wayf .searchSection {
  box-shadow: 0 9px 0px 0px rgba(255,255,255,1.0), 0 -9px 0px 0px rgba(255,255,255,1.0), 6px 0 15px -4px rgba(164, 164, 164, 0.8), -6px 0 15px -4px rgba(164, 164, 164, 0.8);
}

/* search input field */
#wayf .topsearch {
  width: 95%;
  align: middle;
  margin: 10px;
}

#wayf .fastTrack {
  display: flex;
  flex-display: row;
  flex-wrap: wrap;
  box-shadow: 0 9px 0px 0px rgba(255,255,255,1.0), 0 -9px 0px 0px rgba(255,255,255,1.0), 6px 0 15px -4px rgba(164, 164, 164, 0.8), -6px 0 15px -4px rgba(164, 164, 164, 0.8);
}

#wayf .fastTrackButton {
  /* background-color: red;
  color: white; */
  margin: 3px;
  padding: 3px;
}

#wayf .fastTrackLogoDiv {
  display: inline-block;
  /* width: 80px; */
  height: 16px;
  vertical-align: middle;
}

#wayf .fastTrackImg {
  max-width: 100%;
  max-height: 100%;
}

#wayf .fastTrackLabel {
  display: inline-block; 
  position: relative; 
  left: 10px; 
  vertical-align: middle;
  /*background-color: yellow; */
  width: 75%; 
  /* max-width: 100%; */
}

#wayf .socialTrack {
  display: flex;
  flex-display: row;
  flex-wrap: wrap;
  box-shadow: 0 9px 0px 0px rgba(255,255,255,1.0), 0 -9px 0px 0px rgba(255,255,255,1.0), 6px 0 15px -4px rgba(164, 164, 164, 0.8), -6px 0 15px -4px rgba(164, 164, 164, 0.8);
}

#wayf .socialTrackButton {
  /* background-color: blue;
  color: white; */ 
  margin: 3px;
  padding: 3px;
}

#wayf .socialTrackLogoDiv {
  display: inline-block;
  /* width: 80px; */
  height: 16px;
  vertical-align: middle;
}

#wayf .socialTrackImg {
  max-width: 100%;
  max-height: 100%;
}

#wayf .socialTrackLabel {
  display: inline-block; 
  position: relative; 
  left: 10px; 
  vertical-align: middle;
  /*background-color: yellow; */
  width: 75%; 
}

#wayf .sectionSeparator {
  height: 5px;
}

#wayf .content {
  max-height: 75vh;
  overflow: auto;
/*    max-height: 60%; */
  box-shadow: 0 9px 0px 0px rgba(255,255,255,1.0), 0 -9px 0px 0px rgba(255,255,255,1.0), 6px 0 15px -4px rgba(164, 164, 164, 0.8), -6px 0 15px -4px rgba(164, 164, 164, 0.8);
}

#wayf div.scroller div {
  margin: 2px;
  color: black;
  font-weight: normal;
  /* height: 50px; */
  /* border: 1px solid; */
}

#wayf div.scroller div.selected span {
  color: #5864a3;
  font-weight:bold;
}

#wayf div.scroller hr {
    margin: 0;
    /* padding: 0; */
    /* clear: both; */
    height: 1px;
    border: 0; 
    border-top: 1px solid #dbdcdc;
    /* visibility: hidden; */
}

#wayf div.scroller div div.logoDiv {
  display: inline-block;
  width: 80px;
  height: 22px;
  vertical-align: middle;
}

#wayf div.scroller div div.logoDiv img.logo {
  max-width: 100%;
  max-height: 100%;
}

#wayf div.scroller div div.divName {
  display: inline-block; 
  position: relative; 
  left: 10px; 
  vertical-align: middle;
  /*background-color: yellow; */
  width: 60%; 
}

@media only screen and (min-width: 600px) {
 
  #wayf {
    /* display: flex;
    flex-direction: column; */
    /* debug */
    /* background-color: DodgerBlue; */

    width: 600px;
    margin-left: auto;
    margin-right: auto;
    
  }

  #wayf div.scroller div div.logoDiv {
    display: inline-block;
    width: 160px;
    height: 44px;
    vertical-align: middle;
  }


}

@media only screen and (min-width: 800px) {
 
  #wayf {
    /* display: flex;
    flex-direction: column; */
    /* debug */
    /* background-color: DodgerBlue; */

    width: 800px;
    margin-left: auto;
    margin-right: auto;
    
  }

  #wayf div.scroller div div.logoDiv {
    display: inline-block;
    width: 160px;
    height: 44px;
    vertical-align: middle;
  }


}


